@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #475569;
  border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #64748b;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

/* Horizontal scrollbar height */
::-webkit-scrollbar:horizontal {
  height: 2px;
}
